{% extends '@default/base.html.twig' %}

{% block body %}
<section class="section-spacing bg-white">
<div class="container-narrow">

<h2>Eine Bestätigungsemail wurde an {{email}} gesendet.</h2>
<p>Bitte klicke den Link in der Email, um deine Registrierung abzuschließen.</p>
</div>
</section>

{% endblock %}