{% extends '@default/base.html.twig' %}

{% block body %}
<section class="section-spacing bg-white">
<div class="container-narrow">

<p>Die Verifizierung war erfolgreich.</p><br>
<a href="/login" class="bg-primary-600 hover:bg-primary-600 text-white px-6 py-2 rounded-lg font-medium transition-colors">
                   Jetzt Einloggen 
                </a>
</div>
</section>

{% endblock %}